<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >
      Inicio Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <p style="text-align: center;margin-top: 5%;"><img src="assets/icon/logo.png" style="border-radius: 50%;"></p>
    <p style="text-align: center;"><ion-card>
      <ion-card-header>
        <ion-card-title>Inicio de sesión</ion-card-title>
        <ion-card-subtitle><ion-item>
          <ion-input label="Aprete aquí para escribir" label-placement="floating" 
          placeholder="Escriba su código de acceso o correo" 
          [(ngModel)]="codigo" type="text"></ion-input> 
        </ion-item>
      <p style="color: rgb(197, 29, 29);" *ngIf="msj!=''">{{msj}}</p>
      <h4 style="color: rgb(255, 255, 255);" (click)="irRecuperar()" shape="round">Recuperar mi código <ion-icon style="color: rgb(254, 254, 254);" name="information-circle"></ion-icon></h4>
      </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button color="warning" (click)="codigoVerificado()" shape="round">Ingresar</ion-button>
      </ion-card-content>
      <ion-button color="warning" [routerLink]="['/registro']" shape="round">Registrarse</ion-button>
    </ion-card></p>

    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align: center; color: rgb(245, 245, 245);">Sobre nosotros</ion-card-title>
        <ion-card-subtitle style="color: #d9d9d9; text-align: center;">En DeportesColina, combinamos pasión por el fitness y la tecnología para ofrecerte una experiencia personalizada hacia una vida más saludable a través de nuestra aplicación móvil y web innovadora y accesible.
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content style="text-align: center;">
        <ion-grid>
          <ion-row style="justify-content: center;">
            <ion-card style="background-color: rgba(22, 107, 118, 0.888); border: 2px solid #ff7504; width: 150px; height: 210px; margin: 10px;">
              <ion-col>
                <ion-avatar style="margin: 0 auto;">
                  <img src="/assets/icon/vicho.jpg" />
                </ion-avatar>
                <h4 style="color: #fff;">Vicente Cabello</h4><br>
                <h4 style="color: rgb(255, 255, 2);">★★★★★</h4>
              </ion-col>
            </ion-card>
      
            <ion-card style="background-color: rgba(22, 107, 118, 0.888); border: 2px solid #ff7504; width: 150px; height: 210px; margin: 10px;">
              <ion-col>
                <ion-avatar style="margin: 0 auto;">
                  <img src="/assets/icon/maxi.jpg" />
                </ion-avatar>
                <h4 style="color: #fff;">Maximiliano Urrejola</h4>
                <h4 style="color: rgb(255, 255, 2);">★★★★★</h4>
              </ion-col>
            </ion-card>
      
            <ion-card style="background-color: rgba(22, 107, 118, 0.888); border: 2px solid #ff7504; width: 150px; height: 210px; margin: 10px;">
              <ion-col>
                <ion-avatar style="margin: 0 auto;">
                  <img src="/assets/icon/benja.jpg" />
                </ion-avatar>
                <h4 style="color: #fff;">Benjamin Vargas</h4><br>
                <h4 style="color: rgb(255, 255, 2);">★★★★★</h4>
              </ion-col>
            </ion-card>
      
            <ion-card style="background-color: rgba(22, 107, 118, 0.888); border: 2px solid #ff7504; width: 150px; height: 210px; margin: 10px;">
              <ion-col>
                <ion-avatar style="margin: 0 auto;">
                  <img src="/assets/icon/jony.jpg" />
                </ion-avatar>
                <h4 style="color: #fff;">Jonathan Riberos</h4><br>
                <h4 style="color: rgb(255, 255, 2);">★★★★★</h4>
              </ion-col>
            </ion-card>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      
  
  

