<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="regresar()"></ion-back-button>
    </ion-buttons>
    <ion-title>dieta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dieta</ion-title>
    </ion-toolbar>
  </ion-header>

  <p style="text-align: center;">
    <ion-card>
        <ion-card-header>
          <ion-card-title style="font-size: 20px;color:rgb(255, 255, 255)"><h1>{{dieta.nombre}}</h1></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10"> 
              <img [src]="dieta.foto" alt="W3Schools" width="300px" height="220px">
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10"> 
              <a [href]="dieta.foto" target="_blank" type="image/jpg" download="uwu"><ion-button color="warning" shape="round">Descargar</ion-button></a>
              <div *ngIf="!boton"><ion-button color="warning" shape="round" (click)="guardar()">
              <ion-icon name="bookmark-outline"></ion-icon></ion-button></div>

              <div *ngIf="boton"><ion-button color="warning" shape="round" (click)="quitarGuardado()">
                <ion-icon name="bookmark-sharp" ></ion-icon></ion-button></div>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
         
        </ion-card-content>
    </ion-card>
  </p>

  
  

</ion-content>


<!--Menu footer-->
<ion-footer id="footer">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon (click)="irPerfil()" name="person-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irMusculos()" name="barbell-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irNoticias()" name="newspaper-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irDietas()" name="clipboard-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irGuardados()" name="bookmark-outline"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
