<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Ejercicios</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="/static/aplicacion/css/inicio.css"/>

</head>
<body style="background: rgb(27, 90, 122);">

  <div><nav class="navbar navbar-expand-lg navbar-light bg-light">
<a href="{% url 'pantalla' %}" ><h3>DeportesColina</h3></a>
<a class="navbar-brand" href="{% url 'Solicitudes' %}"  style="margin-left: 25px;" >Solicitudes</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
          <a class="nav-link" href="{% url 'Informes' %}">Informes<span
                  class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown active ">
        <a class="nav-link dropdown-toggle cuPC1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">           
          <a class="dropdown-item " href="{% url 'Registro' %}" >Crear Usuarios</a>
          <a class="dropdown-item " href="{% url 'ListaUsu' %}">Modificar Usuarios</a>
      </div>
      </li>

      <li class="nav-item dropdown active ">
        <a class="nav-link dropdown-toggle cuPC1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ejercicios
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">           
          <a class="dropdown-item " href="{% url 'CrearEjer' %}" >Crear Ejercicios</a>
          <a class="dropdown-item " href="{% url 'ListaEje' %}">Modificar Ejercicios</a>
          
      </div>
      </li>

      <li class="nav-item dropdown active ">
        <a class="nav-link dropdown-toggle cuPC1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dietas
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">           
          <a class="dropdown-item " href="{% url 'CrearDie' %}" >Crear Dietas</a>
          <a class="dropdown-item " href="{% url 'ListaDie' %}">Modificar Dietas</a>
      </div>
      </li>

      <li class="nav-item dropdown active ">
        <a class="nav-link dropdown-toggle cuPC1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Noticias
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">           
          <a class="dropdown-item " href="{% url 'CrearNot' %}" >Crear Noticias</a>
          <a class="dropdown-item " href="{% url 'ListaNot' %}">Modificar Noticias</a>
      </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Cerrar Sesión<span
                class="sr-only">(current)</span></a>
    </li>
    
  </ul>
  
</nav>
</div>
<br>



    <div class="container" class="fondo">
      <div class="row" style="margin-top: 20px;">
          <div class="col-md-12 col-sm-12">
              
              <form action="" method="POST" id="" name="" class="fondoform" enctype="multipart/form-data">
                {% csrf_token %}
                  <h1 class=" letraLo" style="text-align: center;">Modificar Ejercicios</h1><br>
                  <div class="form"></div>


                  <div class="grupo">
                  <label>ID Ejercicio</label>
                  <input readonly value="{{ '' }}" type="number" class="form-control" id="idE" name="idE">
                    </div>

                  <div class="grupo">
                    <label>Titulo Noticia</label>
                    <input type="text" name="nombreE" id="nombreE" value="{{nombreE}}"><span class="barra" ></span>
                  </div>

                <div class="grupo">
                  <label for="" ><h5 style="color: #000000;">Foto del ejercicio actual</h5></label><br>
                  <img src="{{''  }}"  alt="Avatar" style="width:150px;height:150px;">
                  </div>
                  
                <h3 style="text-align: center;color: rgb(0, 0, 0);">Seleccione la miniatura</h3>
                <p style="color: rgb(245, 242, 242);"><input  accept="image/*, .png, .jpeg, .jpg"  type="file" class="form-control-file , letraLo , cu1" id="fotoE" name="fotoE" required/></p>
                <br>

                <div class="grupo">
                  <h3 style="color: #000000;text-align: center;">Video del Ejercicio actual</h3><br>
                  <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" src="{{ '' }}" alt="Avatar" controls></video>
                  </div>
                </div> 

                <h3 style="text-align: center;color: rgb(0, 0, 0);">Seleccione un video del ejercicio</h3>
                <p style="color: rgb(245, 242, 242);"><input  class="form-control-file , letraLo , cu1" type="file" id="videoE" name="videoE" accept=".mp4" required /></p>
                <br>

                  
                  <div class="row">
                    <div class="col-md-6">
                      <input type="submit" value="Enviar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">
                    </div>
                    <div class="col-md-6">

                      <input type="reset" value="Limpiar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">
                    </div>
                  </div>
              </form>
          </div>
        </div>
        <br><br>
  </div>  

   










    

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>