<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidaste Contraseña</title>


<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/aplicacion/css/inicio.css"/>

</head>
<body style="background: rgb(27, 90, 122);">

  
    <div class="container"> 
        <div class="container">
            <div class="container">
                <div class="container">
        <br><br>

      <form action="" method="POST" enctype="multipart/form-data" class="fondoform" name="FormRecuperarContra" id="FormRecuperarContra">
          {% csrf_token %}

          <h1 class="centrar letraLo" style="text-align: center;">Recuperar Código</h1>

          <div class="grupo">
            <input type="text" name="correo" id="correo" placeholder="Ej:a@a.cl"><span class="barra"></span>
            <label for=""><h5>Correo Electrónico</h5></label>
        </div>

          <div class="row">
            <div class="col">
                <div class="grupo">
                    <input type="number" name="rut" id="rut" placeholder="Ej:20.458.389"><span class="barra"></span>
                    <label for=""><h5>Rut</h5></label>
                </div>
            </div>

            <div class="col">
              <div class="grupo">
                  <input type="text" name="dv" id="dv" value="" placeholder="Ej:K"><span class="barra"></span>
                  <label for=""><h5>Dígito Verificador</h5></label>
              </div>
            </div>
        </div>
         
        <div class="row">
            <div class="col-md-4"></div>
              <div class="col-md-4">
                  <input type="submit" value="Enviar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">
              </div>
              <div class="col-md-4"></div>
          </div>
          <p class="warnings" id="mensaje_RecuperarContra"></p>
          <p class="warnings " id="mensaje"></p>

      </form>
  

    </div> </div></div></div>

       










        
  <script src="/static/aplicacion/Validaciones/Usuarios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>