<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuarios</title>

<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="/static/aplicacion/css/inicio.css"/>

<style>
  /* Estilos para los botones de radio personalizados */
  .custom-radio-container {
      text-align: center;
  }

  .custom-radio {
      display: inline-block;
      background-color: #f8f9fa;
      color: #212529;
      border: 1px solid #ced4da;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 10px;
  }

  /* Estilo para el texto dentro del botón */
  .custom-radio label {
      margin: 0;
  }

  /* Ocultar los botones de radio reales */
  .custom-radio input[type="radio"] {
      display: none;
  }

  /* Estilo para el indicador de selección */
  .custom-radio input[type="radio"]:checked + label {
      background-color: #007bff;
      color: white;
  }
</style>

</head>
<body style="background: rgb(27, 90, 122);">

  <div><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{% url 'pantalla' %}" ><h3>DeportesColina</h3></a>
    <a class="navbar-brand" href="{% url 'Solicitudes' %}"  style="margin-left: 25px;" >Solicitudes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
    
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'Informes' %}">Informes<span
                      class="sr-only">(current)</span></a>
          </li>

          
    
          <li class="nav-item dropdown active ">
            <a class="nav-link dropdown-toggle cuPC1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuarios
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">           
              <a class="dropdown-item " href="{% url 'Registro' %}" >Crear Usuarios</a>
              <a class="dropdown-item " href="{% url 'ListaUsu' %}">Modificar Usuarios</a>
          </div>
          </li>
    
          <li class="nav-item dropdown active ">
            <a class="nav-link dropdown-toggle cuPC1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ejercicios
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">           
              <a class="dropdown-item " href="{% url 'CrearEjer' %}" >Crear Ejercicios</a>
              <a class="dropdown-item " href="{% url 'ListaEje' %}">Modificar Ejercicios</a>
              
          </div>
          </li>
    
          <li class="nav-item dropdown active ">
            <a class="nav-link dropdown-toggle cuPC1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dietas
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">           
              <a class="dropdown-item " href="{% url 'CrearDie' %}" >Crear Dietas</a>
              <a class="dropdown-item " href="{% url 'ListaDie' %}">Modificar Dietas</a>
          </div>
          </li>
    
          <li class="nav-item dropdown active ">
            <a class="nav-link dropdown-toggle cuPC1"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Noticias
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">           
              <a class="dropdown-item " href="{% url 'CrearNot' %}" >Crear Noticias</a>
              <a class="dropdown-item " href="{% url 'ListaNot' %}">Modificar Noticias</a>
          </div>
          </li>
    
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Cerrar Sesión<span
                    class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      
    </nav>
    </div>
    





    <div class="container fondo">
      <div class="container">
        <div  class="container">
          <div  class="container"> <div  class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 col-sm-12">
                <form action="" method="POST" id="FormUsuarios" name="FormUsuarios" class="fondoform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1 class="letraLo" style="text-align: center;">Registrar Usuario</h1>
                    <div class="form"></div>
    
                    <div class="row">
                        <div class="col">
                            <div class="grupo">
                                <input type="text" name="nombre" id="nombre" value="{{nombre}}" placeholder="Ej:Juan"><span class="barra"></span>
                                <label for=""><h5>Nombre</h5></label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="grupo">
                                <input type="text" name="apellido" id="apellido" value="{{apellido}}" placeholder="Ej:Gana"><span class="barra"></span>
                                <label for=""><h5>Apellido</h5></label>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <div class="grupo">
                                <input type="number" name="rut" id="rut" placeholder="Ej:20.458.389"><span class="barra"></span>
                                <label for=""><h5>Rut</h5></label>
                            </div>
                        </div>
                        <div class="col">
                          <div class="grupo">
                              <input type="text" name="dv" id="dv" value="" placeholder="Ej:K"><span class="barra"></span>
                              <label for=""><h5>Dígito Verificador</h5></label>
                          </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <div class="grupo">
                                <input type="text" name="correo" id="correo" placeholder="Ej:a@a.cl"><span class="barra"></span>
                                <label for=""><h5>Correo Electrónico</h5></label>
                            </div>
                        </div>
                        <div class="col">
                          <div class="grupo">
                              <input type="text" name="telefono" id="telefono" placeholder="Ej:9 6842 6213"><span class="barra"></span>
                              <label for=""><h5>Teléfono</h5></label>
                          </div>
                      </div>
                        
                    </div>
    
                    <div class="grupo">
                        <input type="date" name="horarioU" id="horarioU" value="{{horarioU}}"><span class="barra"></span>
                        <label for=""><h5>Horario</h5></label>
                    </div>
    
                    <div class="grupo" style="text-align: center;">
                      <div class="grupo" style="text-align: center;">
                          <label>¿Tienen Ficha Médica?</label>
                          <div class="custom-radio-container">
                              <input type="radio" id="fichaSi" name="ficha" value="si" onclick="mostrarFicha()">
                              <label for="fichaSi" class="custom-radio">Si</label>
                              
                              <input type="radio" id="fichaNo" name="ficha" value="no" onclick="ocultarFicha()">
                              <label for="fichaNo" class="custom-radio">No</label>
                          </div>
                      </div>
                  </div>

                    <div id="fichaMedicaSi" style="display:none;">
                      
                      <div class="row">
                        <div class="col-md-2 col-sm-2"></div>
                        <div class="col-md-8 col-sm-8"> 
                          <div class="row">
                            <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                                <label for="exampleFormControlFile1" class="letraLo, cu">Adjuntar archivo de ficha médica</label>
                                <h5><input type="file" class="form-control-file, letraLo, cu1"  accept="application/pdf"  id="fichaU" name="fichaU" ></h5>
                              </div> 
                            </div>

                              <div class="col-md-6 col-sm-6">
                                <a href="/path/al/archivo.pdf" download="archivo.pdf">Descargar ficha médica</a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-2 col-sm-4"></div>

                      </div>
                  </div><br>
                  
                  <div id="fichaMedicaNo" style="display:none;">
                      <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <div class="grupo">
                            <input type="text" name="observacionesU" id="observacionesU" value="" ><span class="barra"></span>
                            <label for=""><h5>Observaciones:</h5></label>
                        </div>
                        </div>
                        <div class="col-md-3"></div>
                      </div>
                  </div>
                    
                   


    
                    <div class="row">
                      <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input type="submit" value="Enviar" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97); margin-left: auto;">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <p class="warnings" id="mensaje_RegistrarUsuarios"></p>
                    <p class="warnings " id="mensaje"></p>

                    
                </form>
            </div>
        </div>
    </div>
    
    </div>
  </div>
    
    </div>
      <br>
  </div> 
   



  




  <script>
    function mostrarFicha() {
        document.getElementById("fichaMedicaSi").style.display = "block";
        document.getElementById("fichaMedicaNo").style.display = "none";
    }

    function ocultarFicha() {
        document.getElementById("fichaMedicaSi").style.display = "none";
        document.getElementById("fichaMedicaNo").style.display = "block";
    }
  </script>









    <script src="/static/aplicacion/Validaciones/Usuarios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>