<div *ngIf="formulario">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modiDietas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">modiDietas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let x of dietas">
    <p style="text-align: center;">
    <ion-card>
      <img alt="Silhouette of mountains" [src]="x.img" style="width: 400px; height: 200px;" />
      <ion-card-header>
        <ion-card-title style="color: rgb(255, 255, 255);">{{x.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6"> <ion-button color="warning" (click)="irModificar(x)"><ion-icon name="build-outline"></ion-icon></ion-button></ion-col>
            <ion-col size="6"> <ion-button color="danger"><ion-icon name="trash-sharp"></ion-icon></ion-button></ion-col>
          </ion-row>
         
        </ion-grid>
      </ion-card-content>
    </ion-card></p>
  </div> 
</ion-content>
</div>
<app-modificar-dietas *ngIf="!formulario" [info]="dietaM" (volverPerfil)="regreso($event)"></app-modificar-dietas>

<!--Menu footer-->
<ion-footer id="footer">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon (click)="irPerfil()" name="person-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irMusculos()" name="barbell-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irNoticias()" name="newspaper-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irDietas()" name="clipboard-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon name="person-add-outline" (click)="RegistroU()"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
