<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Check-Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">checkOut</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Validando Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="color: white;">Estamos validando tu identidad para que puedas acceder al gimnasio</p>
    </ion-card-content>
  </ion-card>
</ion-content>
