ion-toolbar {
    --ion-toolbar-background:rgb(166, 237, 142);
  }

ion-content{
    --background: rgb(27, 90, 122);
}

ion-title{
    color: rgb(0, 0, 0);
}

ion-card{
    --background: rgb(19, 93, 102);
}

ion-item{
    --background: rgb(19, 93, 102);
}

ion-tab-bar{
  --background:rgb(166, 237, 142);
}

ion-tab-button{
  color:rgb(0, 0, 0);
}

input[type="file"] {
  display: none;
  
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: rgb(253,202,64);

}

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-inner {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 150px;
    height: 150px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 5px solid rgb(253,202,64);
    background-color: rgb(6, 112, 20);
  }
  
  .flip-card-back {
    width: 150px;
    height: 150px;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: 5px solid rgb(253,202,64);
    background-color: rgb(6, 112, 20);
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
  }
  /*mapa decoracion */
  .map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspecto del radio (divide 9 by 16 = 0.5625) */
    border: 2px solid #ff7504; /* Borde alrededor del mapa */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
 .tar{
  border: 2px solid #ff7504;
 }
