<ion-header [translucent]="true">
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-button (click)="abrirMenu()" >
          <ion-icon name="reorder-four-outline" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>-->
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <div id="main-content">
<!--Foto-->  
    <p style="text-align: center;">
      <ion-card style="text-align: center;">
        <ion-card-header >
          <ion-grid>
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/icon/maxi.jpg" style="width: 150px;height: 150px;">
                </div>
                <div class="flip-card-back">
                  <ion-button color="warning" style="margin-top:25%;" ><ion-icon name="camera-outline"></ion-icon></ion-button>
                </div>
              </div>
            </div>
          </ion-grid>

          <!--NOMBRE-->  
            <ion-card-title style="color:white">{{usuario.nombre}} {{usuario.apellido}}</ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              <ion-item>
                <h4 *ngIf="usuario.fichaMedica!=''" style="color: white;">Tú ficha Médica <span><a target="_blank" [href]="fichaMedica">{{usuario.fichaMedica}}</a></span></h4>
              </ion-item>
              <ion-grid>
                <ion-row>
                  <!--ALTURA--> 
              
                </ion-row>
                <ion-button color="warning" (click)="mostrarH()" *ngIf="!mostrarHorario" shape="round">Ver Horario</ion-button>
                <ion-button color="warning" (click)="esconderH()" *ngIf="mostrarHorario" shape="round">Ocultar Horario</ion-button>
                <ion-button color="warning" [routerLink]="['/home']" shape="round">Cerrar sesion</ion-button>
              </ion-grid>
                    <!--Cerrar sesion--> 
          </ion-card-subtitle>
              <div *ngIf="mostrarHorario">
                <ion-grid>
                  <ion-row>
                    <ion-col size="1">
                    </ion-col>
                    <ion-col size="10">
                      <ion-datetime (ionChange)="nya($event)" [(ngModel)]="horarioSeleccionado" [multiple]="true" presentation="date" [min]="fechaActual"
                      [max]="finMes" locale="es-ES" [disabled]="inhabilitarCalen" [isDateEnabled]="isWeekday">
                      </ion-datetime> 
                    </ion-col> 
                    <ion-col size="1">
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <br />
                <ion-item color="light" *ngIf="flag">
                  <ion-select label="Seleccione hora" label-placement="floating" [(ngModel)]="horaSeleccionada" >
                    <ion-select-option value="7:00-8:20">7:00-8:20</ion-select-option>
                    <ion-select-option value="8:30-9:50">8:30-9:50</ion-select-option>
                    <ion-select-option value="10:00-11:20">10:00-11:20</ion-select-option>
                    <ion-select-option value="11:30-12:50">11:30-12:50</ion-select-option>
                    <ion-select-option value="13:00-14:20">13:00-14:20</ion-select-option>
                    <ion-select-option value="14:30-15:50">14:30-15:50</ion-select-option>
                    <ion-select-option value="16:00-17:20">16:00-17:20</ion-select-option>
                    <ion-select-option value="17:30-18:50">17:30-18:50</ion-select-option>
                    <ion-select-option value="19:00-20:20">19:00-20:20</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-button *ngIf="flag" color="success" (click)="elegirHora()">Continuar</ion-button>
                <ion-button *ngIf="flag" color="danger" (click)="cancelar()">Cancelar</ion-button>

                <!--Resumen elección de horario-->
                <ion-grid>
                  <ion-row>
                    <ion-col size="4" *ngFor="let x of resumen" style="border: 3px groove;">
                        <h3 style="color: white;">{{x.dia}}</h3>
                        <h4 style="color: white;">{{x.hora}}</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-button color="success" (click)="guardarHorario()" *ngIf="guardarH">Guardar Horario</ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <ion-button color="warning" *ngIf="guardarH" (click)="seguirEligiendo()">Modificar Días</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>

              </ion-card-content>
            </ion-card>
      </p>
  </div>

<!--Cartera virtual Abrir--> 
<ion-grid> 

  <div *ngIf="!despliega">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <p style="text-align: center;"><ion-button color="warning" (click)="despliegaC()" shape="round">Despliega</ion-button></p>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </div>


<!--Cartera virtual Cerrar-->   
  <div *ngIf="despliega">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
      <p style="text-align: center;"><ion-button color="warning" (click)="ocultarV()" shape="round" >Ocultar</ion-button></p>
      
    <p style="text-align: center;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Cartera Virtual</ion-card-title>
          <ion-card-title>$15.000</ion-card-title>
          <ion-card-subtitle>M-J-S</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button color="warning" shape="round" >Pagar</ion-button>
        </ion-card-content>
      </ion-card>
    </p>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </div>
</ion-grid>


<!--Menu-->   

<!--ion-menu contentId="main-content" menuId="menuEnd">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item color="default" (click)="irPerfil()">
      <ion-icon name="person-outline" ></ion-icon>
      <ion-label >Mi Perfil</ion-label>
    </ion-item>

    <ion-item color="default" (click)="irEjercicios()">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label >Ejercicios</ion-label>
    </ion-item>

    <ion-item color="default" (click)="irDietas()">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Dietas</ion-label>
    </ion-item>

    <ion-item color="default" (click)="irGuardados()">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Mis Guardados</ion-label>
    </ion-item>
    

  </ion-content>
</ion-menu-->


</ion-content>

<!--Menu footer-->
<ion-footer id="footer">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon (click)="irPerfil()" name="person-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irMusculos()" name="barbell-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irNoticias()" name="newspaper-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irDietas()" name="clipboard-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irGuardados()" name="bookmark-outline"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
