<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="regresar()"></ion-back-button>
    </ion-buttons>
    <ion-title>sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sobre_nosotros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <ion-card-title style="text-align: center; color: rgb(245, 245, 245);">Sobre nosotros</ion-card-title>
    <ion-card-subtitle style="color: #ffffff; text-align: center;">En DeportesColina, combinamos pasión por el fitness y la tecnología para ofrecerte una experiencia personalizada hacia una vida más saludable a través de nuestra aplicación móvil y web innovadora y accesible.
    </ion-card-subtitle>
  </ion-card-header>


  <ion-grid style="background-color: rgb(19, 93, 102); border: 2px solid #ff7504; border-radius: 10px;">
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img alt="Silhouette of mountains" style="border-radius: 35%;" src="assets/icon/logo.png" />
        </ion-avatar>

        <ion-label style="color: white; ">El gimnasio de Colina es un moderno centro de fitness en Santiago de Chile, equipado 
        con máquinas de última generación, clases grupales, entrenadores personales y áreas
        para entrenamiento funcional. Ofrece programas personalizados y un ambiente
        motivador para mejorar la salud y el bienestar de sus socios.</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid><br>

  <ion-grid style="background-color: rgb(19, 93, 102); border: 2px solid #ff7504; border-radius: 10px;">
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img alt="Silhouette of mountains"  style="border-radius: 35%;" src="assets/icon/pecho.jpg" />
        </ion-avatar>

        <ion-label style="color: white; ">Nuestra Misión:<br>
          Nuestra misión es fomentar un estilo de vida saludable y activo en la comunidad,<br> 
          proporcionando instalaciones de primer nivel y un equipo de profesionales<br>
          comprometidos con el bienestar de nuestros miembros.</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid><br>

  <ion-grid style="background-color: rgb(19, 93, 102); border: 2px solid #ff7504; border-radius: 10px;">
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img alt="Silhouette of mountains" style="border-radius: 35%;" src="assets/icon/polea.jpg" />
        </ion-avatar>

        <ion-label style="color: white; ">Nuestras Instalaciones:<br>
          Contamos con áreas de entrenamiento cardiovascular, musculación y funcional, salas<br>
          de clases grupales, una piscina climatizada y zonas de relajación. Cada rincón de<br>
          nuestro gimnasio está diseñado para ofrecer comodidad y motivación, ayudando a<br>
          nuestros socios a superar sus límites y alcanzar sus metas de bienestar.</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid><br>

  <ion-grid style="background-color: rgb(19, 93, 102); border: 2px solid #ff7504; border-radius: 10px;">
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img alt="Silhouette of mountains" style="border-radius: 35%;" src="assets/icon/prensa.jpg" />
        </ion-avatar>

        <ion-label style="color: white; ">Visión:<br>
          Ser el gimnasio líder en Santiago de Chile, reconocido por nuestro compromiso<br>
          con la excelencia, la innovación y la promoción de un estilo de vida saludable para<br>
          todas las edades y niveles de fitness.</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid><br>
</ion-content>
