<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registroUser</ion-title>
    </ion-toolbar>
  </ion-header>

<p style="text-align: center;">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating" style="color: white;">Nombre:</ion-label>
        <ion-input [(ngModel)]="nombre"  placeholder="Juan" type="text"></ion-input>
      </ion-item>
      <p style="color: rgb(197, 79, 79);" *ngIf="mensajeName!=''">{{ mensajeName }}</p >
      <p style="color: rgb(197, 79, 79);"  *ngIf="mensajeNameN!=''">{{ mensajeNameN }}</p >
      <p  style="color: rgb(197, 79, 79);" *ngIf="mensajeNameE!=''">{{ mensajeNameE }}</p >

      <ion-item>
        <ion-label position="floating" style="color: white;">Apellido:</ion-label>
        <ion-input [(ngModel)]="apellido"  placeholder="Gana" type="text"></ion-input>
      </ion-item>
      <p  style="color: rgb(197, 79, 79);" *ngIf="mensajeApellido!=''">{{ mensajeApellido }}</p>
      <p   style="color: rgb(197, 79, 79);" *ngIf="mensajeApellidoN!=''">{{ mensajeApellidoN }}</p>
      <p  style="color: rgb(197, 79, 79);" *ngIf="mensajeApellidoE!=''">{{ mensajeApellidoE }}</p>

      <ion-item>
        <ion-label position="floating" style="color: white;">Número telefónico:</ion-label>
        <ion-input [(ngModel)]="telefono" placeholder="9 4331 7889" type="number"></ion-input>
      </ion-item>
      <p  style="color: rgb(197, 79, 79);" *ngIf="mensajeTelefono!=''">{{ mensajeTelefono }}</p>
      <p  style="color: rgb(197, 79, 79);" *ngIf="mensajeTelefono2!=''">{{ mensajeTelefono2 }}</p>

      <ion-item>
        <ion-label position="floating" style="color: white;">Correo electrónico</ion-label>
        <ion-input  [(ngModel)]="correo"  placeholder="a@aa.cl" type="text"></ion-input>
      </ion-item>

      <p  style="color: rgb(197, 79, 79);" *ngIf="mensajeCorreo!=''">{{ mensajeCorreo }}</p>

      <ion-item>
        <ion-label position="floating" style="color: white;">Rut (Sin puntos ni guion):</ion-label>
        <ion-input maxlength=10 (input)="ar($event)" [(ngModel)]="rut"  placeholder="Ej: 321236540" type="text"></ion-input>
      </ion-item>
      <p style="color: rgb(197, 79, 79);" *ngIf="mensajeRut != ''">{{ mensajeRut }}</p>

      <!--<ion-item>
        <ion-label position="floating" style="color: white;">Dígito verificador:</ion-label>
        <ion-input [(ngModel)]="digitoVerificador" placeholder="4" type="text"></ion-input>
      </ion-item>
      <p style="color: rgb(197, 79, 79);" *ngIf="mensajeDigitoVerificador !=''">{{ mensajeDigitoVerificador }}</p>-->
     
      <ion-label position="floating" style="color: white;">¿Tiene ficha médica?</ion-label>  
      
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-item>
                <ion-label style="color: white;">Si</ion-label>  
                <ion-checkbox (ionChange)="ficha($event)" [disabled]="flagCheckBoxSi" value="si"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="5">
              <ion-item>
                <ion-label style="color: white;">No</ion-label>  
                <ion-checkbox (ionChange)="ficha($event)" [disabled]="flagCheckBoxNo" value="no"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="flagFicha=='si'">
          <ion-label position="floating" style="color: white;">Adjuntar ficha Médica</ion-label>
          <input type="file" (change)="adjuntar($event)">
        </div>
        <div *ngIf="flagFicha=='no'">
          <ion-label style="color:white" position="floating">¿Tiene alguna observación médica que afecte a su desempeño en el gimnasio?</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="5">
                <ion-item>
                  <ion-label style="color: white;">Si</ion-label>  
                  <ion-checkbox (ionChange)="preguntaMedica($event)" [disabled]="flagPreguntaSi" value="si"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col size="2"></ion-col>
              <ion-col size="5">
                <ion-item>
                  <ion-label style="color: white;">No</ion-label>  
                  <ion-checkbox (ionChange)="preguntaMedica($event)" [disabled]="flagPreguntaNo" value="no"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item *ngIf="habilitarObservacion">
             <ion-label position="floating" style="color:white">Detalle su observación médica</ion-label>
             <ion-textarea rows="2" [(ngModel)]="observacionMedica"></ion-textarea>
          </ion-item>
        </div>
        <p style="color: rgb(197, 79, 79);" *ngIf="mensajeFichas !=''">{{mensajeFichas}}</p>
  
      <br>

      <ion-button color="warning" shape="round" (click)="verificarRegistro()">Registrar</ion-button>


    </ion-card-content>
  </ion-card>
</p>

</ion-content>
