<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="regresar()"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ejercicio</ion-title>
    </ion-toolbar>
  </ion-header>


<!-- Video -->
<p style="text-align: center;">
  <ion-card>
      <ion-card-header>
        <ion-card-title style="font-size: 20px;color:rgb(255, 255, 255)"><h1>{{ejercicio.Titulo}}</h1></ion-card-title>
      </ion-card-header>
    <img alt="Silhouette of mountains" [src]="ejercicio.foto" width="100%" style="max-width: 400px; height: 220px;" />
    
    <ion-card-content style="text-align: center;">
      <h1 style="color:white;">Vídeo de apoyo</h1>
      <video [src]="ejercicio.video" controls width="100%" style="max-width: 400px;" height="220px"></video>
      <!-- Boton Guardado -->
      <div *ngIf="!boton">
          <ion-button color="warning" shape="round" (click)="guardar()">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
      </div>
        <div *ngIf="boton">
            <ion-button color="warning" shape="round" (click)="quitarGuardado()">
              <ion-icon name="bookmark-sharp" ></ion-icon>
            </ion-button>
        </div>
    </ion-card-content>
  </ion-card>
</p>




</ion-content>


<!--Menu footer-->
<ion-footer id="footer">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon (click)="irPerfil()" name="person-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irMusculos()" name="barbell-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irNoticias()" name="newspaper-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irDietas()" name="clipboard-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irGuardados()" name="bookmark-outline"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
