ion-toolbar {
    --ion-toolbar-background:rgb(166, 237, 142);
  }

ion-content{
    --background: rgb(27, 90, 122);
}

ion-title{
    color: rgb(0, 0, 0);
}

ion-card{
    /*--background: rgb(19, 93, 102);*/
    --background: transparent;
    
}

ion-item{
    --background: rgb(19, 93, 102);
}

ion-tab-bar{
  --background:rgb(166, 237, 142);
}

ion-tab-button{
  color:rgb(0, 0, 0);
}


/*Foto*/
.container1 {
  text-align: center;
}

.center1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.853);
}

.img1 { 
  opacity: 0.6;
}

.modal-foto {
  
  display: block;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal-foto-content {
  
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
}

.close {
  
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#fotoNoM {
  transition: transform 0.3s;
}

#fotoNoM:hover {
  cursor: zoom-in;
  transform: scale(1.1);
}