<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="volverM()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>modificarDieta</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">modificarDieta</ion-title>
      </ion-toolbar>
    </ion-header>
  
    
    <p style="text-align: center;">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Modificar Dietas</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-item style="--background: rgb(19, 93, 102);">
            <ion-input label="Nombre Ejercicio:" label-placement="floating" [(ngModel)]="info.nombre" type="text"></ion-input>
          </ion-item>
    
          <br>
          <p style="text-align: center;">
            <img alt="Silhouette of mountains" [src]="info.img" style="width: 400px; height: 200px;" />
            <br>
          </p>

          <ion-button color="warning" shape="round" >Modificar Dieta</ion-button>
        </ion-card-content>
      </ion-card>
    </p>
     
  
  </ion-content> 