ion-toolbar {
    --ion-toolbar-background:rgb(166, 237, 142);
  }

ion-content{
    --background: rgb(27, 90, 122);
}

ion-title{
    color: rgb(0, 0, 0);
}

ion-card{
    /*--background: rgb(19, 93, 102);*/
    --background: transparent;
    
}

ion-item{
    --background: rgb(19, 93, 102);
}

ion-tab-bar{
  --background:rgb(166, 237, 142);
}

ion-tab-button{
  color:rgb(0, 0, 0);
}


/*Foto*/
.container1 {
  text-align: center;
}

.center1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.853);
}

.img1 { 
  opacity: 0.6;
}

