<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" [routerLink]="['/noticias']"></ion-back-button>
    </ion-buttons>
    <ion-title>detalleNoticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalleNoticia</ion-title>
    </ion-toolbar>
  </ion-header>

<p style="text-align: center;">
  <ion-card>
    <img alt="Silhouette of mountains" [src]="noticia.img" style="width: 400px; height: 200px;" />
    <ion-card-header>
      <ion-card-title><h2 style="color: rgb(248, 247, 247);">{{noticia.titulo}}</h2></ion-card-title>
     
    </ion-card-header>
  
    <ion-card-content>
      <p style="color:rgb(243, 243, 243)">{{noticia.detalle}}</p>

      <div *ngIf="!boton">
        <ion-button  color="warning" shape="round" (click)="esconder()">
          <ion-icon name="heart-outline">
          </ion-icon>
        </ion-button>
      </div>

      <div *ngIf="boton">
        <ion-button  color="warning" shape="round" (click)="sacar()">
          <ion-icon name="heart-sharp">
          </ion-icon>
        </ion-button> 
      </div>

    </ion-card-content>
  </ion-card></p>


  <!-- Textarea -->
<ion-grid>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <p style="text-align:center;">
        <textarea rows="4" cols="30" placeholder="Añade un comentario" [(ngModel)]="comentario" ></textarea>
      </p>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <!-- Boton -->
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <p style="text-align:center;margin-top: -15px;">
        <ion-button color="warning"  shape="round">Enviar</ion-button>
      </p>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <!-- Comentarios -->
  <ion-card>
    <ion-card-header>
      <ion-title style="color: white;">Comentarios</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div *ngFor="let x of comen">
            <ion-item color="light">
              <ion-avatar slot="start">                  
                <img *ngIf="x.img == ''" src="assets/icon/MAXIMOVIES.png" alt="uwu">
                <img *ngIf="x.img != ''" [src]="x.img" alt="uwu">
              </ion-avatar>
              <ion-textarea labelPlacement="floating" [label]="x.username" readonly [value]="x.comentario"></ion-textarea>
              <ion-note (click)="responder(x)">Responder</ion-note>
            </ion-item>

            <!-- SubComentarios -->
            <div *ngIf="x.mostrar"> 
              <ion-item color="light">
              <ion-input placerholder="Escriba su comentario" type="text" [(ngModel)]="subComentario" ></ion-input>
              <ion-icon name="send-sharp" (click)="sub(x)"></ion-icon>
            </ion-item>
            </div>
          
      </div>
      </ion-list>
    </ion-card-content>
   </ion-card>
  
  
  
</ion-grid>

</ion-content>








<!--Menu footer-->
<ion-footer id="footer">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon (click)="irPerfil()" name="person-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irMusculos()" name="barbell-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irNoticias()" name="newspaper-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irDietas()" name="clipboard-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon (click)="irGuardados()" name="bookmark-outline"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
